* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Main CSS */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  border-bottom: #2296be 2px solid;
}
p {
  color: gray;
}
.description {
  padding: 2rem 10rem;
  max-width: 90%;
  text-align: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
  width: 100%;
}
.card {
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  width: 19rem;
  height: 18rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  /* object-position: top; */
  margin-top: -25%;
}
.card h2 {
  margin-top: 20px;
  padding: 5px;
  font-weight: 200px;
}
.card h3 {
  font-weight: 200;
  font-style: italic; /* Italic style for subheading */
  font-family: system-ui;
}
.card p {
  line-height: 1.5rem;
  margin-top: 1rem;
}
.cardBehind {
  width: 19rem;
  height: 18rem;
  /* display: inline-block; */
  border-radius: 30px;
  z-index: -1;
  rotate: 15deg; /*Rotate cards slightly*/
  position: absolute;
  top: 0px;
    left: 0px;
}
.amazon{
    background-color: #2699c8;
}
.google{
    background-color: #6fbe6b;
}

.meta{
    background-color: #4cab9d;
}

@media (max-width: 780px) {
    .description {
        padding: 2rem 1rem;
        
      }
}
