:root{
    --bg-dark: #1a1a1a;
    --bg-pink:#FFE5E5;
    --card-radius: 1.5rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--bg-dark);

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    width: 90%;
    height: 100vh;
}

.box {
    background: #FFEBEB;
    border-radius: var(--card-radius);
}

#box1, #box4,#box6,#box5{grid-row: span 2;}
#box5, #box9{grid-column: span 2;}